@media (min-width:768px) {

    .navbar {
        background-color: brown;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: right;
        width: 100%;
        position: fixed;
        display: none;
    }
    .navbar .container-fluid .collapse{
        margin-left: 700px;
    }

}



/* for small screen */
@media (max-width:767px) {
    .navbar {
        background-color: brown;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: right;
        width: 100%;
        top: 0;
        position: fixed;
    }
}