{% extends 'khbs/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Register - KHBS" %}{% endblock %}
{% block extra_style %}
<link href="{% static 'css\register.css' %}" rel="stylesheet" />
{% endblock extra_style %}


{% block header %}
{% block lang_form %}
<form method="post" action="{% url 'set_language' %}">
    {% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}">
    <select name="language" id="language">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for lang in languages %}
            <option value="{{ lang.code }}" {% if lang.code == LANGUAGE_CODE %}selected{% endif %}>
                {{ lang.name_local }} ({{ lang.code }})
            </option>
        {% endfor %}
    </select>
    <button type="submit">{% trans "Change Language" %}</button>
</form>  
{% endblock lang_form %}


<div class="container-slider mb-5">
    <main>
        <img src="{% static 'khbs-img/new-img/img (8).jpg' %}" alt="" class="slide">
        <img src="{% static 'khbs-img/new-img/img (2).jpg' %}" alt="" class="slide">
        <img src="{% static 'img/contact-bg.png' %}" alt="" class="slide">
        <img src="{% static 'img\eng.jpg' %}" alt="" class="slide">
    </main>
    <div class="btn-nav">
        <button onclick="goPrev()">
            {% trans "Prev" %}
        </button>
        <button onclick="goNext()">
            {% trans "Next" %}
        </button>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-form">
    <h2 class="mt-5 mb-5 text-center">{% trans "STUDENT INFORMATION" %}</h2>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="fath-img mt-3 mb-3">
            <img id="previewImageStudent" src="#" alt="{% trans 'Preview Image' %}" style="display: none; width: 150px; height: 150px;">
        </div>
        <div class="st-img">
            {{ st_form.student_img |as_crispy_field }}
        </div>
        <div class="st-names mt-5">
            <div class="first-name">
                {{ st_form.first_name |as_crispy_field }}
            </div>
            <div class="middle-name">
                {{ st_form.middle_name |as_crispy_field }}
            </div>
            <div class="last-name">
                {{ st_form.last_name |as_crispy_field }}
            </div>
        </div>
        <div class="st-other-info mt-5">
            <div class="dob">
                {{ st_form.date_of_birth |as_crispy_field }}
            </div>
            <div class="nat">
                {{ st_form.nationality |as_crispy_field }}
            </div>
            <div class="gen">
                {{ st_form.gender |as_crispy_field }}
            </div>
        </div>

        <h5 class="mt-5 mb-5">{% trans "STUDENT ADDRESS" %}:</h5>
        <div class="student-address mt-5">
            <div class="city">
                {{ st_form.student_address_city |as_crispy_field }}
            </div>
            <div class="state">
                {{ st_form.student_address_state |as_crispy_field }}
            </div>
            <div class="country">
                {{ st_form.student_address_country |as_crispy_field }}
            </div>
        </div>

        <input type="submit" value="{% trans 'Next' %}" class="btn btn-primary mt-5">
    </form>
</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mdbootstrap@4.19.3/css/mdb.min.css" integrity="sha384-..." crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/mdbootstrap@4.19.3/js/mdb.min.js" integrity="sha384-..." crossorigin="anonymous"></script>

<!--extra script-->
{% block extra_script %}
<script src="{% static 'js/register.js' %}"></script>
{% endblock extra_script %}
<script>
    document.getElementById('student-img').addEventListener('change', function (event) {
        var input = event.target;
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                document.getElementById('previewImageStudent').src = e.target.result;
                document.getElementById('previewImageStudent').style.display = 'block';
            };

            reader.readAsDataURL(input.files[0]);
        }
    });
</script>
{% endblock %}
