<!-- Footer -->
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Whatsapp -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-whatsapp"></i
        ></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
      </section>
      <!-- Section: Social media -->
  
    </div>
    <!-- Grid container -->
  
    <!-- Contact -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      <i class="fas fa-phone-alt"></i> <i>+229 97 13 04 61</i>
      <br>
      <i class="fas fa-phone-alt"></i> <i>+229 97 77 64 96</i>
      <br><br>
      <i class="fas fa-map-marker-alt"></i>
      Behind former delegate adissa house, Oke-Ola, Pobe, Federal Republic of Benin
    </div>
    <!-- Contact -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      KHBS © 2023 Copyright:
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
  
  