{% extends 'khbs/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Home - KHBS{% endblock %}
{% block extra_style %}
<link
href="{% static 'css\home.css' %}"
rel="stylesheet"
/>
{% endblock extra_style %}

{% block content %}

<div class="container me-auto">
    <div class="first-div">
        <div class="mission">
            <div class="text miss">
                <h3>Our Mission</h3>
                <hr class="me-auto w-25 mt-0 mb-3">
                To build sound, confident and moral upright achievers
                that will be a reference anywhere in the world
            </div>
        </div>
        <div class="vision">
            <div class="text vis">
                <h3>Our vision</h3>
                <hr class="me-auto w-25 mt-0 mb-1">
                To be a world-class institution providing qualitative
                education to our stakeholders which makes them become
                second to none individual in any area of their endeavors
            </div>
        </div>
        <div class="program">
            <div class="text prog">
                <h3>Our programs</h3>
                <hr class="me-auto w-25 mt-0 mb-3">
                Admission into creche, class 1-6,
                Online adult class,
                Common enterance, WAEC registeration
            </div>
        </div>
    </div>
    <div class="second-div" id="abt-us">
        <div class="about">
            <h2>About Us</h2>
            Founded in 2008, our school is a leading institution 
            dedicated to providing top-quality education and fostering 
            holistic development for children and adults alike. From our 
            creche and primary school programs to our online adult classes, 
            we are committed to empowering individuals to excel in all areas 
            of their endeavors... <a href="{% url 'about' %}"><u>Read more about us</u></a>
            <br><br>


            {% trans "Let's translate this " %}
            {% load i18n %}

            <form method="post" action="{% url 'set_language' %}">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}">
                <select name="language" id="language">
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for lang in languages %}
                        <option value="{{ lang.code }}" {% if lang.code == LANGUAGE_CODE %}selected{% endif %}>
                            {{ lang.name_local }} ({{ lang.code }})
                        </option>
                    {% endfor %}
                </select>
                <button type="submit">Change Language</button>
            </form>    
        </div>
    </div>
    <div class="third-div">
        <h2>Events</h2>
        <div class="event">
            <div class="circle">
                <img src="{% static 'khbs-img\new-img\img (13).jpg' %}" alt="">
            </div>
            <div class="circle">
                <img src="{% static 'khbs-img\khbs-blur\image (1).png' %}" alt="">
            </div>
            <div class="circle">
                <img src="{% static 'khbs-img/new-img/img (1).jpg' %}" alt="">
            </div>
        </div>
        
        <div class="adm">
            <h2>Our Admissions</h2>
            <div class="classes" id="classes">
                <h3 class="me-auto mt-5 mb-5 text-center">Admission for <u><span class="text-primary">2023/2024</span></u> is open into</h3>
                <!--creche section-->
                <div class="creche">
                    <div class="img">
                        <img src="{% static 'khbs-img/new-img/img (10).jpg' %}" alt="">
                    </div>
                    <div class="desc">
                        <h3>Creche</h3>
			At our creche, we provide a nurturing and safe environment 
			for infants and toddlers, ensuring their early years are 
			filled with love, care, and learning. Our experienced and 
			dedicated staff members understand the unique needs of young 
			children and strive to create a warm and welcoming atmosphere.

                    </div>
                </div>
                <div class="nurs">
                    <div class="img">
                        <img src="{% static 'khbs-img/image (30).jpg' %}" alt="">
                    </div>
                    <div class="desc">
                        <h3>Nursery</h3>
			Our nursery section is designed to provide a seamless 
			transition from the creche to a more structured learning 
			environment. We understand that each child is unique and 
			has their own pace of development. Our nurturing teachers 
			create an inclusive and engaging atmosphere where children 
			can thrive and flourish.
                    </div>
                </div>
                <div class="pry">
                    <div class="img">
                        <img src="{% static 'khbs-img/image (29).jpg' %}" alt="">
                    </div>
                    <div class="desc">
                        <h3>Primary</h3>
			Our primary section lays the foundation for lifelong 
			learning and prepares students for a successful academic 
			journey. We create a stimulating learning environment 
			that encourages critical thinking, collaboration, and a 
			passion for knowledge. Our dedicated teachers instill a 
			love for learning and empower students to become confident, 
			compassionate, and responsible individuals.
                    </div>
                </div>

                <h3 id="reg" class="me-auto text-center"><a href="{% url 'register1' %}" class="btn btn-primary mt-5 btn-rounded me-auto"><u>Click Here To Register Your Child Today</u></a></h3>
            </div>
        </div>
    </div>
</div>
{% endblock %}